[submodule "ansible"]
	path = ansible
	url = git@github.com:t3hpr1m3/dockerized-ansible.git
[submodule "awscli"]
	path = awscli
	url = git@github.com:t3hpr1m3/dockerized-awscli.git
[submodule "eclipse"]
	path = eclipse
	url = git@github.com:t3hpr1m3/dockerized-eclipse.git
[submodule "golang"]
	path = golang
	url = git@github.com:t3hpr1m3/dockerized-golang.git
[submodule "gradle"]
	path = gradle
	url = git@github.com:t3hpr1m3/dockerized-gradle.git
[submodule "virt-manager"]
	path = virt-manager
	url = git@github.com:t3hpr1m3/dockerized-virt-manager.git
[submodule "hostapd"]
	path = hostapd
	url = git@github.com:t3hpr1m3/dockerized-hostapd.git
[submodule "dhcpd"]
	path = dhcpd
	url = git@github.com:t3hpr1m3/dockerized-dhcpd.git
[submodule "bind9"]
	path = bind9
	url = git@github.com:t3hpr1m3/dockerized-bind9.git
[submodule "elixir"]
	path = elixir
	url = git@github.com:t3hpr1m3/dockerized-elixir.git
[submodule "rubynode"]
	path = rubynode
	url = git@github.com:t3hpr1m3/dockerized-rubynode.git
[submodule "elixir-dev"]
	path = elixir-dev
	url = git@github.com:t3hpr1m3/dockerized-elixir-dev.git
[submodule "erlang"]
	path = erlang
	url = git@github.com:t3hpr1m3/dockerized-erlang.git
